.page.theme_light {
  --accent-color: #353430;
  --accent-color-button: rgb(53,52,48, 0.4);
  --display-rec: none;
  --title-header-footer: #FFC2E6;
  --main-title-text: #353430;
  --section-color-text: #353430;
  --main-font-family: "IBM Plex Mono";
  --text-size: 18px;
  --background-image: url("../images/cover-image-light.png");
  --background-title: #ff8dcb;
  --shadow-title: #ff8dcb;
  --shadow-text-link: #ff8dcb;
}
 
.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --accent-color-button: rgb(53,52,48, 0.4);
    --display-rec: none;
    --title-header-footer: #FFC2E6;
    --main-title-text: #353430;
    --section-color-text: #353430;
    --main-font-family: "IBM Plex Mono";
    --text-size: 18px;
    --background-image: url("../images/cover-image-light.png");
    --background-title: #ff8dcb;
    --shadow-title: #ff8dcb;
    --shadow-text-link: #ff8dcb;
  }
}